<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="addNew">
	    <input type="text" name="newItemInput" v-model="newData">
	    <button @click="addNewItem(newData)">新增</button>
	</div>
	<div id="showPanel">
	    <h2>您的待办事项：</h2>
	    <ol>
	        <li v-for="(item, index) in currentItems">
	            <span @click="changeEditale(item)" v-show="!item.editable">{{ item.data }}</span>
	            <span v-show="item.editable"><input type="text" v-model="item.data"><span @click="changeEditale(item)">确定</span></span>
	            <span class="remove" @click="remove(index)">X</span>
	        </li>
	    </ol>
	</div>


	<!-- JS代码区 -->
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript">
		var addNew = new Vue({
		    el: '#addNew',
		    data: {
		        newData: ''
		    },
		    methods: {
		        addNewItem: function() {
		            showItems.$emit('addNew', this.newData); 
		        }
		    }
		});
		var showItems = new Vue({
		    el: '#showPanel',
		    data: {
		        currentItems: []
		    },
		    methods: {
		        remove: function(index) {
		            this.currentItems.splice(index, 1);
		        },
		        changeEditale: function(item) {
		            item.editable = !item.editable;
		        }
		    }
		});
		showItems.$on('addNew', function(newData) {
		    var item = {
		        data: newData,
		        editable: false
		    };
		    this.currentItems.push(item);
		});
		



	</script>
</body>
</html>