<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="example">
		<select v-model="selected">
		  <option v-for="option in options" v-bind:value="option.value">
		    {{ option.text }}
		  </option>
		</select>
		<span>Selected: {{ selected }}</span>
		<input v-model="msg" >
		<span>{{ msg }}</span>
	</div>

	
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript">

		var vm = new Vue({
			el:example,
			data:{
				selected: 'A',
				options: [
			      { text: 'One', value: 'A' },
			      { text: 'Two', value: 'B' },
			      { text: 'Three', value: 'C' }
			    ],
			    msg:''
			}
		})


	</script>
	<script type="text/javascript">
		var obj = {
		    name:''
		}
		
		var arr =["张三","李四","王五"];
		
		for( var i = 0;i<arr.length;i++){
		    obj.name = arr[i];
		    console.log(obj.name);
		}


	</script>
</body>
</html>