<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>我的toDoList</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<!-- html代码区 -->
	<header>
		<section id="addNew" class="clearfix">
			<label class="title">ToDoList</label>
			<span @click="addItem">Write</span>
			<input class="addBox" v-model="newItem" @keyup.enter="addItem" placeholder="Wath needs to be done">
		</section>
	</header>
	<section id="showDoing">
			<h1>Doing:</h1>
			<ul>
				<li v-for="(item,index) in doingList">
					<input type="checkbox" v-model="item.completed">
					<span :class="{completed:item.completed}" v-if="!item.editable" @click="changeEdita(item)">{{ item.text }}</span>
					<span v-else>
						<input type="text" v-model="item.text">
						<button @click="changeEdita(item)">确定</button>
					</span>
					<button @click="reMove(index)">删除</button>
				</li>
			</ul>
	</section>
	
	<section id="showDone">
		<h1>Done:</h1>
		<ul>
			<li v-for="(item,index) in doneList">
				<input type="checkbox" v-model="item.completed">
				<span></span>
				<span></span>
			</li>
		</ul>
	</section>

	<footer>
		<em>Don't put off till tomorrow what should be done today.</em>
		<div>Copyright &copy 2017 todolist</div>
	</footer>


	<!-- js代码区 -->
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript">
		var STORAGE_KEY = 'todolist';
		var todoStorage = {
				fetch: function() {
					var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]');
					todos.forEach(function (todo,index){
						todo.id = index;
					})
					todoStorage.uid = todos.length;
					return todos;
				},
				save: function(todos) {
					localStorage.setItem(STORAGE_KEY,JSON.stringify(todos))
				}
		}
		
		var addNew = new Vue({
			el:'#addNew',
			data:{
				newItem:'',
			},
			methods:{
				addItem: function(){
					showItems.$emit('add',this.newItem);
					var addBox = document.getElementsByClassName("addBox")[0];
					addBox.value="";
				}
			}
		})

		//展示Doing列表
		var showItems = new Vue({
			el: '#showDoing',
			data:{
				doingList:todoStorage.fetch() 
				//从localStorage里拿数据
			},
			methods:{
				reMove: function(index){
					this.doingList.splice(index,1);
				},
				changeEdita: function(item){
					item.editable = !item.editable;
				}
			},
			watch: {
				//侦听doingList数组，一旦数组有变化就进行保存
				doingList: {
					handler: function(doingList){
						todoStorage.save(doingList);
					},
					//为了发现对象内部值的变化变化
					deep:true
				}
			}

		})

		showItems.$on('add', function(msg){
			var item = {
				text: msg,
				editable: false,
				completed: false
			}
			this.doingList.push(item);
		})




	</script>
</body>
</html>